<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">
    <servlet>
        <servlet-name>MyHelloServlet</servlet-name>
        <servlet-class>com.example.homework.controller.HomeServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>MyHelloServlet</servlet-name>
        <url-pattern>/home</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>RegisterServlet</servlet-name>
        <servlet-class>com.example.homework.controller.RegisterServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RegisterServlet</servlet-name>
        <url-pattern>/register</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>CreateCustomerServlet</servlet-name>
        <servlet-class>com.example.homework.controller.CreateCustomerServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CreateCustomerServlet</servlet-name>
        <url-pattern>/admin/customers/create</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ListCustomerServlet</servlet-name>
        <servlet-class>com.example.homework.controller.ListCustomerServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ListCustomerServlet</servlet-name>
        <url-pattern>/admin/customers/list</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>DetailCustomerServlet</servlet-name>
        <servlet-class>com.example.homework.controller.DetailCustomerServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DetailCustomerServlet</servlet-name>
        <url-pattern>/admin/customers/detail</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>DeleteCustomerServlet</servlet-name>
        <servlet-class>com.example.homework.controller.DeleteCustomerServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DeleteCustomerServlet</servlet-name>
        <url-pattern>/admin/customers/delete</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>EditCustomerServlet</servlet-name>
        <servlet-class>com.example.homework.controller.EditCustomerServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>EditCustomerServlet</servlet-name>
        <url-pattern>/admin/customers/edit</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>TemplateDemoFormServlet</servlet-name>
        <servlet-class>com.example.homework.controller.TemplateDemoFormServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>TemplateDemoFormServlet</servlet-name>
        <url-pattern>/admin/template/form</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>TemplateDemoListServlet</servlet-name>
        <servlet-class>com.example.homework.controller.TemplateDemoListServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>TemplateDemoListServlet</servlet-name>
        <url-pattern>/admin/template/list</url-pattern>
    </servlet-mapping>
</web-app>
